* {
    margin: 0;
    padding: 0;
}
body {
    background: #f2efeb;
    -webkit-font-smoothing: antialiased;
    font-family: "\5FAE\8F6F\96C5\9ED1" !important;
    margin: 0 auto !important;
    position: relative;
    color: #52514f;
}
.dn {
    display: none;
}

a {
    text-decoration: none!important;
    color: #52514f;
}

a:link {
    color: #52514f;
    text-decoration: none;
}

a:visited {
    color: #52514f;
    text-decoration: none;
}

a:visited:hover {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #52514f;
}

a:active {
    text-decoration: none;
    color: #000000;
}

a img {
    border: none;
}

li {
    list-style: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.clear{
    clear: both;
}
input:focus{
    border-color: #FF8F0C;
    outline: none;
}
input[disabled]{
    background-color: #f3f3f3;
}
::selection {
    background:#f5ad4e;
    color:#fff;
}
::-moz-selection {
    background:#f5ad4e;
    color:#fff;
}
.main_color{
    background-color:#f5ad4e;
    cursor: pointer;
}
.main_color:hover{
    background-color:#FF8F0C;
    color: #fff;
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
}

/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
    background-color: #f5ad4e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f5ad4e;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}


/*管理界面*/

.header {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-top: 4px solid #f5ad4e;
}

.header_container {
    width: 1200px;
    margin: 0 auto;
}

.header_logo {
    float: left;
    padding-top: 10px;
    margin-bottom: 10px;
}

.header_name {
    float: left;
    margin-left: 10px;
    padding-top: 12px;
    font-size: 32px;
    color: #8E8E8E;
}

.header_logo img {
    width: 50px;
}

.header_right {
    float: right;
}

.clear {
    clear: both;
}

.header_right {
    margin-top: 40px;
    font-size: 14px;
}

.header_user {
    float: left;
    padding-right: 5px;
    border-right: 1px solid #e8e8e8;
}

.header_exit {
    float: left;
    margin-left: 5px;
}

.ui_body {
    width: 1200px;
    margin: 30px auto 80px;
    border: 1px solid #d9dadc;
    background-color: #fff;
}

.ui_left {
    width: 210px;
    display:table-cell;
    padding-top: 10px;
    min-height: 800px;
    border-right: 1px solid #e8e8e8;
}

.ui_right {
    display:table-cell;
    width: 988px;
    position: relative;
}
.menu_context {
    margin-top: 13px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    z-index: 10;
}

.menu_end {
    border-bottom-width: 0;
}

.menu_context_tittle {
    position: relative;
    padding: 0 30px 0;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 34px;
    color: #8d8d8d;
}

.menu_context_tittle img {
    margin-right: 8px;
    margin-top: -2px;
    width: 20px;
}

.menu_context_li {
    line-height: 34px;
}

.menu_context_li:hover {
    background-color: #f4f5f9;
}

.menu_context_li a {
    display: block;
    padding: 0 0 0 62px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.active_li {
    background-color: #f5ad4e ;
}

.active_li:hover {
    background-color: #FF8F0C;
}

.active_li a {
    color: #fff;
}

.active_li a:hover {
    color: #fff;
}
.right_top {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.right_top_style {
    font-size: 16px;
    padding: 0 30px;
    line-height: 75px;
}
ul{
    margin-bottom: 0;
}
input{
    border: 1px solid #e8e8e8;
    outline: 0;
}
ol, ul{
    padding: 0;
    margin-bottom: 0;
}
.right_menu_li {
    line-height: 40px;
    height: 40px;
    border-bottom-color: #e7e7eb;
    float: left;
    padding: 0 30px;
    cursor: pointer;
}
.right_menu{
    font-size: 14px;
}
.right_menu_li_active{
    border-bottom: 2px solid #f5ad4e!important;
}
.menu_context_ul{
    margin-bottom: 10px;
}
.error_message_tip {
    position: fixed;
    top: 40%;
    left: 40%;
    border: 1px solid #e8e8e8;
    height: 150px;
    width: 400px;
    text-align: center;
    background: #fff;
    display: none;
    z-index: 10002;
}

.error_message {
    margin-top: 39px;
    display: block;
    font-size: 16px;
    color: #f5ad4e;
}

.error_message_tip_yes {
    width: 120px;
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    margin: 30px auto;
    color: #fff;
    background-color: #f5ad4e;
    cursor: pointer;
}

.right_menu_li_all{
    display: none;
}
.not_find_message{
    margin-top: 40px;
    display: none;
    margin-bottom: 20px;
}
.not_find_message img{
    margin-left: 160px;
}
.not_find_message span{
    font-size: 25px;
    color: #13A5EA
}

.error_animate_tips{
    position: fixed;
    padding: 6px 50px;
    text-align: center;
    background-color: #f5ad4e;
    color: #fff;
    border-radius: 5px;
    box-shadow:  2px 4px 6px #CECECE;
    left: 45%;
    top: -50px;
    opacity: 0;
    z-index: 1000;
}
.header_user img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.line_title {
    position: relative;
    margin: 30px auto;
    width: 70%;
}

.line {
    border-top: 1px solid #F1F1F1;
    width: 100%;
    position: absolute;
    top: 10px;
}

.line_title_span {
    background-color: #fff;
    width: 150px;
    display: block;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    text-align: center;
    color: #999;
}

.down1 {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 7px 7px 0;
    border-style: solid dashed;
    border-color: #f5ad4e transparent transparent;
    -webkit-transition-duration: 0.5s;
    cursor: pointer;
}

.down1:hover {
    transform: rotate(180deg);
}

.loading_box{
    position: fixed;
    top:48%;
    left: 50%;
    display: none;
    text-align: center;
    z-index: 1000;
}
.loading{
    height: 48px;
}
.hover_all{
    z-index: 5;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    opacity: 0.1;
}

/*页码样式*/
.page_prev , .page_next{
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    color: #222;
    height: 30px;
    line-height: 30px;
    width: 30px;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
}
.page_prev:hover{
    background-color: #f4f5f9;
}
.page_next:hover{
    background-color: #f4f5f9;
}
.page_prev:hover > .prev_arrow{
    border-right-color: #f5ad4e ;
}
.page_next:hover > .next_arrow{
    border-left-color: #f5ad4e ;
}
.page_prev .arrow, .page_next .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;
}
.page_next .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-right-width: 0;
    border-left-color: #919191;
    border-left-style: solid;
}
.page_prev .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #919191;
    border-right-style: solid;
}
.page_container{
    content: "";
    border-top: 1px #e8e8e8 solid;
    margin-top: 20px;
    padding: 15px 60px;
    line-height: 40px;
    position: relative;
}
.page_box{
    float: right;
}
.page_number{
    margin: 0px 10px;
    float: left;
}
.page_input_number{
    vertical-align: middle;
    float: left;
    width: 75px;
    height: 30px;
    line-height: 22px;
    padding: 4px 0;
    border: 1px solid #e8e8e8;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    font-size: 14px;
    margin: 5px 10px;
}
.page_go{
    float: left;
    border: 1px solid #e8e8e8;
    color: #222;
    height: 30px;
    line-height: 30px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.sub_title_bar .page_box{
    line-height: 40px;
}

.sub_message {
    line-height: 40px;
    font-size: 16px;
    float: left;
}
.page_set{
    float: right;
    line-height: 30px;
    margin-top: 5px;
    margin-right: 30px;
    border: 1px solid #e8e8e8;
    height: 30px;
    cursor: pointer;
    color: #333;
    position: relative;
    width: 110px;
    text-indent: 10px;
}
.page_set_ul{
    display: none;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    position: relative;
    border: 1px solid #e8e8e8;

    border-top: none;
}
.page_set_ul li{
    line-height: 34px;
    height: 34px;
}
.page_set_ul li:hover{
    background-color: #e8e8e8;
}
.page_set_number{
    color: #f5ad4e;
}
.page_set:hover>.down1{
    transform: rotate(180deg);
}
/*页码样式结束*/
/*搜索样式*/
.search_user_input {
    padding: 5px 60px 5px 5px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    outline: 0;
}

.search_user {
    margin-bottom: 40px;
    position: relative;
    width: 350px;
    float: left;
    margin-left: 20px;
}

.search_user_a {
    border-left: 1px solid #e7e7eb;
    right: 0;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    height: 31px;
}

.search_ico {
    background: url("/resource/images/icon_style.png") 0 -4412px no-repeat;
    height: 31px;
    margin-left: 6px;
}

/*搜索样式结束*/
.add_span{
    padding: 5px 10px 5px 24px;
    background-color: #f5ad4e;
    margin-bottom: 0px;
    color: #fff !important;
    position: relative;
    cursor: pointer;
    float: right;
    margin-left: 26px;
    margin-top: 5px;
}
.add_span:hover{
    background-color: #FF8F0C;
}
.add_classify {
    font-size: 26px;
    position: absolute;
    line-height: 18px;
    left: 4px;
}
.input_style{
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

/*下拉模版开始*/
.slide_container {
    position: fixed;
    top: -220%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    width: 340px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 2px 2px 6px #e8e8e8;
    z-index: 100;
}

.slide_container_top {
    text-align: center;
    margin: 14px 0;
    font-size: 16px;
    position: relative;
}

.input_list {
    padding: 0px 14px;
    position: relative;
}

.input_list img {
    position: absolute;
    top: 9px;
    left: 20px;
    width: 22px;
}

.input_style {
    text-indent: 32px;
}

.submit_select {
    padding: 0 16px;
    margin-bottom: 20px;
}

.submit_select_span {
    background-color: #f5ad4e;
    color: #fff;
    float: right;
    display: inline-block;
    width: 90px;
    text-align: center;
    line-height: 32px;
    height: 32px;
    border-radius: 5px;
}

.submit_select_not {
    margin-right: 30px;
}
.slide_container_top_remove{
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
    color: #999;
    width: 40px;
    cursor: pointer;
}
.slide_container_top_remove:hover{
    color: #f5ad4e;
}
/*下拉模版结束*/